In [72]:
import pandas as pd
import datetime as dt

In [92]:
sample_file  = pd.read_excel("Book2.xlsx")

In [93]:
sample_file.head()

                               Timestamp
0  2018-02-01T00:00:00-08:00 Los_Angeles
1  2018-02-01T01:00:00-08:00 Los_Angeles
2  2018-02-01T02:00:00-08:00 Los_Angeles
3  2018-02-01T03:00:00-08:00 Los_Angeles
4  2018-02-01T04:00:00-08:00 Los_Angeles

In [97]:
sample_file['new_timestamp'] = sample_file['Timestamp'].str.replace('-08:00 Los_Angeles', "")

sample_file['new_ts_2'] = sample_file['new_timestamp'].str.replace('T', " ")

In [99]:


sample_file['timestamp_dt'] = pd.to_datetime(sample_file['new_ts_2'])

sample_file.dtypes

Timestamp                object
new_timestamp            object
new_ts_2                 object
timestamp_dt     datetime64[ns]
dtype: object

In [105]:


sample_file['final_timestamp'] = sample_file['timestamp_dt'].dt.strftime('%m/%d/%Y %H:%M')

sample_file.head()

,Timestamp,new_timestamp,new_ts_2,timestamp_dt,final_timestamp
0,2018-02-01T00:00:00-08:00 Los_Angeles,2018-02-01T00:00:00,2018-02-01 00:00:00,2018-02-01 00:00:00,02/01/2018 00:00
1,2018-02-01T01:00:00-08:00 Los_Angeles,2018-02-01T01:00:00,2018-02-01 01:00:00,2018-02-01 01:00:00,02/01/2018 01:00
2,2018-02-01T02:00:00-08:00 Los_Angeles,2018-02-01T02:00:00,2018-02-01 02:00:00,2018-02-01 02:00:00,02/01/2018 02:00
3,2018-02-01T03:00:00-08:00 Los_Angeles,2018-02-01T03:00:00,2018-02-01 03:00:00,2018-02-01 03:00:00,02/01/2018 03:00
4,2018-02-01T04:00:00-08:00 Los_Angeles,2018-02-01T04:00:00,2018-02-01 04:00:00,2018-02-01 04:00:00,02/01/2018 04:00

In [119]:
sample_file.drop(labels=['new_timestamp', 'new_ts_2', 'timestamp_dt'], axis=1, inplace = True)

In [121]:
sample_file.head()

                               Timestamp   final_timestamp
0  2018-02-01T00:00:00-08:00 Los_Angeles  02/01/2018 00:00
1  2018-02-01T01:00:00-08:00 Los_Angeles  02/01/2018 01:00
2  2018-02-01T02:00:00-08:00 Los_Angeles  02/01/2018 02:00
3  2018-02-01T03:00:00-08:00 Los_Angeles  02/01/2018 03:00
4  2018-02-01T04:00:00-08:00 Los_Angeles  02/01/2018 04:00

In [125]:

sample_file.to_excel("Formatted_file_2.xlsx", index=False)